.Invalid {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, 0);
  background-color: white;
  color: #ed5901;
  padding: 10px;
  border-radius: 10px;
}
.Invalid a {
  font-size: 18px;
}
