.NavItem {
  display: block;
  float: right;
  box-sizing: border-box;
  width: 100%;
  color: #250004;
  border-bottom: 1px solid #250004;
  border-left: none;
}
.NavItem:first-child {
  border-right: 1px solid #250004;
}
.NavItem a {
  box-sizing: border-box;
  display: block;
  padding: 10px 20px;
  color: #250004;
  text-align: center;
  text-decoration: none;
  font-size: 20px;
}
.NavItem a:hover {
  background-color: #250004;
  color: #bd3100;
  cursor: pointer;
}
.NavItem a:active {
  background-color: #250004;
  color: #bd3100;
  cursor: pointer;
}
@media (min-width: 500px) {
  .NavItem {
    margin: 0;
    display: flex;
    height: inherit;
    width: auto;
    align-items: center;
    border-left: 1px solid #250004;
    border-bottom: none;
  }
  .NavItem a {
    color: #250004;
    height: inherit;
    padding: 16px 10px;
    border-bottom: 4px solid transparent;
  }
  .NavItem a:hover,
  .NavItem a:active {
    background-color: #250004;
    color: #bd3100;
  }
}
