.Input {
  width: 100%;
  padding: 0px 10px 6px 10px;
  box-sizing: border-box;
  margin: 5px;
}
.Label {
  font-weight: bold;
  display: block;
  margin-bottom: 15px;
  float: left;
  color: #ed5901;
  padding-top: 5px;
}
.InputElem {
  outline: none;
  border: 1px solid gray;
  background-color: white;
  font: inherit;
  padding: 6px 10px;
  border-radius: 9px;
  justify-content: left;
}
.InputElem:focus {
  border: 1px solid goldenrod;
}
.Submit {
  display: block;
  width: 100%;
  border: none;
  border-radius: 10px;
  background-color: #250004;
  color: #ed5901;
  padding: 10px;
  margin-top: 0px;
  font-family: inherit;
  font-size: 16px;
  cursor: pointer;
}
.Submit:disabled {
  background-color: white;
  border: 1px solid black;
  color: gray;
  cursor: not-allowed;
}
