html {
  height: 100%;
  background-repeat: no-repeat;
}
.navigation {
  list-style-type: none;
  margin: 0;
  padding: 0px;
  overflow: hidden;
  background-color: white;
}
.navigation li {
  float: left;
  border-right: 1px solid rgb(139, 138, 138);
}
.navigation li:last-child {
  float: right;
  border-left: 1px solid rgb(139, 138, 138);
  border-right: none;
}
.navigation a {
  display: block;
  padding: 16px 20px;
  color: black;
  text-align: center;
  text-decoration: none;
}
.navigation a:hover {
  background-color: rgba(117, 116, 115, 0.87);
  color: white;
  cursor: pointer;
}
p.intro {
  display: inline-block;
  position: relative;
  top: 5px;
  font-weight: bold;
  border: 1px solid black;
  background-color: white;
  margin: 20px;
  padding: 10px;
  border-radius: 8px;
}
.btn {
  border-radius: 8px;
  background-image: linear-gradient(rgb(84, 240, 240), rgb(29, 218, 145));
  border: 1px solid white;
}
@media (min-width: 1100px) and (min-height: 720px) {
  .html {
    width: 900px;
    height: 500px;
  }
}
