html{
    height: 100%;
    background-image: linear-gradient(to bottom right, rgb(117, 232, 236),rgb(109, 236, 177));
    background-repeat: no-repeat;
}
h1 {
    padding: 10px 0px;
    margin: 0px;
    border-bottom-left-radius: 40%;
    border-bottom-right-radius: 40%;
    border:3px inset rgb(229, 238, 234);
    font-family: 'Barlow-Condensed', sans-serif;
    font-weight: lighter;
    font-style: italic;
    color: rgb(229, 238, 234);
    
}
h1:hover{
    background-color: rgb(160, 196, 197);
    color: rgb(7, 21, 27);
    
}

