.overhead {
  text-align: center;
  align-self: center;
  align-items: center;
  justify-content: space-between !important;
  flex-grow: 1;
  display: flex;
  margin: 1rem 1.5rem;
}
ul.navigation {
  width: 100%;
  display: flex;
  justify-content: center;
  position: sticky;
  list-style-type: none;
  margin: 0;
  padding: 0px;
  overflow: hidden;
  font-size: 30px;
}
.navigation li {
  float: left;
}
.navigation li:last-child {
  float: right;
}
.navigation li:nth-child(3) {
  display: inline;
}
.navigation a {
  display: block;
  padding: 16px 20px;
  color: rgb(252, 250, 250);
  text-align: center;
  text-decoration: none;
}
.navigation a:hover {
  background-color: rgba(117, 116, 115, 0.87);
  color: white;
  cursor: pointer;
}
p.intro {
  display: inline-block;
  position: relative;
  top: 5px;
  font-weight: bold;
  border: 1px solid black;
  background-color: white;
  margin: 20px;
  padding: 10px;
  border-radius: 8px;
}
.logoImg {
  max-width: 250px;
  max-height: 100px;
}

@media (min-width: 1100px) and (min-height: 720px) {
  .html {
    width: 900px;
    height: 500px;
  }
}
