.Wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  width: auto;
  margin-top: 30px;
  border-radius: 12px;
  box-shadow: 0px 0px 6px 3px rgba(247, 245, 245, 0.2), 0px 0px 8px 4px #85a8f5;
}
h2 {
  border-bottom: 1px solid #250004;
  text-align: left;
  color: #ed5901;
  margin: 0px;
}

a.redirect:active {
  color: #ed5901;
}
